<h1>Agregar profesor</h1>

<%= form_for @teacher do |f| %>

  <p>
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_area :name %>
  </p>

  <p>
    <%= f.label :lastname, "Apellido" %><br>
    <%= f.text_area :lastname %>
  </p>
  <p>
    <%= f.label :document, "Docuemento de identidad" %><br>
    <%= f.text_area :document %>
  </p>
  <p>
    <%= f.label :course, "Asignatura" %><br>
    <%= f.text_area :course %>
  </p>
  <p>
    <%= f.label :email, "Correo electronico" %><br>
    <%= f.text_area :email %>
  </p>

  
  <p>
    <%= f.submit %>
  </p>
<% end %>